/* Force the margin and padding to zero using !important */
.company-tags-wrapper {
    display: flex !important;
    /* flex-wrap: wrap !important; */
    gap: 8px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.company-tag {
    background-color: #FFFFFF1A !important;
    color: #FAFAFA !important;
    padding: 4px 8px !important;
    border-radius: 12px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
}